@import "../common/scss/common";

.work__grid {
    &.grid {
        @media #{$screen-medium} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$screen-small} {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }

    &__item {
        background: $color-white;
        box-shadow: 2px 2px 2px rgba(black, 0.1);
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            display: block;
            background-image: url("/images/darian-face.jpg");
            width: 180px;
            height: 180px;
            background-position: center;
            background-size: cover;
            border-radius: 100%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -40%);
            opacity: 0;
            transition: all 0.2s ease;
            z-index: 1;
        }

        &:hover {
            .work__image {
                filter: blur(5px);
            }

            &:before {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }

        &__details {
            padding: 20px;
            text-align: center;
        }

        h3 {
            margin: 0;
            line-height: 1;
        }
    }
}

.work__image {
    background-size: cover;
    background-position: center center;
    padding-bottom: 68%;
    transition: all 0.2s ease;
    position: relative;
}

.work__duties__list {
    &__item {
        display: inline-block;
        font-size: $font-size-sm;
        color: $color-grey;

        + .work__duties__list__item {
            &:before {
                content: "|";
                margin-right: 8px;
                margin-left: 8px;
                opacity: 0.3;
            }
        }
    }
}
