section {
    background-position: center center;
    background-size: cover;
    text-align: center;

    &:nth-child(odd) {
        background-color: $color-grey-light;
    }
}

.wrapper {
    max-width: $section-width;
    padding: 100px 5%;
    margin: 0 auto;

    &--short {
        padding: 40px 5%;
    }

    @media #{$screen-extra-small} {
        padding: 60px 5%;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    &__item {
        color: inherit;
    }
}

.section__title {
    text-align: center;
}
