@import "../common/scss/common";

#home {
    background-image: url("/images/darian_bg.jpg");
    background-color: $color-primary;
    background-blend-mode: luminosity;
    filter: FlipH;
    color: $color-white;
    text-align: right;
    text-shadow: 1px 1px 12px rgba(black, 0.2);
    position: relative;

    .wrapper {
        padding: 10vw 10%;
        position: relative;
        z-index: 1;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: black;
        opacity: 0.5;
    }
}

.home {
    &__title {
        text-align: inherit;
        margin-bottom: 0;
        line-height: 1;
        font-weight: 500;
        color: inherit;
    }
    &__subtitle {
        text-align: inherit;
        line-height: 1;
        font-weight: 100;
        color: inherit;
        margin-bottom: 0;
    }
}
